.mainLogoDiv {
    height: 100px;
    width: 100px;
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

.buttonNav:hover {
    color: #F8EDE3;
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

header {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUsSection h1 {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.aboutUsSection p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white;
    max-width: 70%;
}

.additionalInfo h1 {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.additionalInfo p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white;
    max-width: 70%;
}

.optionalContainer h1 {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.optionalContainer p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white;
    max-width: 70%;
}

.optionalContainer span {
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainContainer {
    background-color: #7D6E83;
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
}

.contact h1 {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

.phoneNemail p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
}

.phoneNemail p:hover {
    color: #D5B39C;
}

.addressNSchedule p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
}

.partners h1 {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.socialMedia a {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: white; 
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.socialMedia h1 {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.socialMLink p {
    margin-bottom: 0px;
}

.socialMLink {
    display: flex;
    flex-direction: row;
}

.socialMLogo {
    height: 20px;
    width: 20px;
    margin-top: 15px;
}

.secondContainer {
    background-color: #7D6E83;
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

.sectionName:hover {
    color: #7D6E83;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

.sectionsList {
    padding: 0px;
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

.ico {
    height: 20px;
    width: 20px;
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #F8EDE3;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}

html {
    scroll-behavior: smooth;
}