.mainLogoDiv {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .mainLogoDiv {
        height: 45px;
        width: 50px;
        z-index: 1001;
    }

    .mainLogoImg {
        height: 45px;
        width: 50px;
        z-index: 1001;
    }
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .buttonNav {
        font-size: 7px;
    }
}

.buttonNav:hover {
    color: #F8EDE3;
}

@media screen and (max-width: 768px) {
    #userNav {
        display: flex;
        justify-content: center;
    }
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 768px) {
    .avaUserImg {
        height: 20px;
        width: 20px;
    }
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        gap: 7px;
        z-index: 1001;
    }
}

header {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    header {
        margin: 20px 20px 50px 20px;
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.imgSneakersImg {
    height: 620px;
    width: 680px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .imgSneakersImg {
        height: 380px;
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .imgSneakersImg {
        height: auto;
        width: 100%;
    }
}

.imgSneakersDiv {
    height: 620px;
    width: 680px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .imgSneakersDiv {
        height: 380px;
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .imgSneakersDiv {
        height: auto;
        width: 100%;
    }
}

.itemName {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 900;
    color: #444444;
    margin-bottom: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemName {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .itemName {
        font-size: 20px;
    }
}

.itemArticle {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
    color: #444444;
    margin-top: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemArticle {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .itemArticle {
        font-size: 5px;
    }
}

.itemPrice {
    font-family: "Unbounded";
    font-size: 50px;
    font-weight: 900;
    color: #444444;
    margin-top: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemPrice {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .itemPrice {
        font-size: 25px;
        margin-bottom: 0px;
    }
}

.sizeTxt {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: #444444;
    margin-top: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .sizeTxt {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .sizeTxt {
        font-size: 10px;
    }
}

.itemSize {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: #444444;
}

.sizeDiv {
    height: 25px;
    width: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: 444444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .sizeDiv {
        font-size: 10px;
        flex: 0 0 auto;
    }
}

.sizeDiv:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.netSize {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    gap: 10px; 
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .netSize {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 5px;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
        background-color: #A8896E;
        border-radius: 20px;
        padding: 5px;
    }
}

.itemNameNArticle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buyButton {
    height: 65px;
    width: 350px;
    border-radius: 20px;
    background-color: #7D6E83;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 700;
    color: white;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .buyButton {
        height: auto;
        width: auto;
        padding: 10px 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .buyButton {
        height: auto;
        width: auto;
        padding: 15px 35px;
        font-size: 15px;
    }
}

.buyButton:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.addButImg {
    height: 25px;
    width: 25px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .addButImg {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 768px) {
    .addButImg {
        height: 10px;
        width: 10px;
    }
}

.aditionalButton {
    height: 65px;
    width: 80px;
    border-radius: 20px;
    background-color: #7D6E83;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .aditionalButton {
        height: auto;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 768px) {
    .aditionalButton {
        height: auto;
        width: auto;
        padding: 0px 25px;
    }
}

.aditionalButton:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .buttons {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .buttons {
        gap: 10px;
        justify-content: center;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .mainInfo {
        gap: 15px;
    }
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .mainBlock {
        padding: 40px 120px 40px 50px;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mainInfo {
        gap: 20px;
    }
}

.mainBlock {
    height: 720px;
    width: 1560px;
    border-radius: 20px;
    background-color: #F8EDE3;
    padding: 50px 170px 50px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .mainBlock {
        height: auto;
        width: 100%;
        padding: 40px 120px 40px 50px;
    }
}

@media screen and (max-width: 768px) {
    .mainBlock {
        position: absolute;
        top: 10px;
        left: 0px;
        z-index: 999;
        height: auto;
        width: 100%;
        padding: 100px 20px 40px 20px;
        flex-direction: column;
    }
}

.description h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: 444444;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .description h1 {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .description h1 {
        font-size: 15px;
    }
}

.description p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: 444444;
    height: 180px;
    width: 550px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .description p {
        width: auto;
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .description p {
        font-size: 10px;
        height: auto;
        width: 100%;
    }
}

.tableNCharac h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: 444444;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .tableNCharac h1 {
        font-size: 15px;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .tableNCharac h1 {
        font-size: 15px;
    }
}

.tableNCharac {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .tableNCharac {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .tableNCharac {
        flex-direction: column;
        gap: 50px;
    }
}

.toggle-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.size-chart {
    width: 40%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    display: none;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .size-chart {
        width: 40%;
    }
}

.size-chart td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: "Unbounded";
    font-weight: 200;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .size-chart td {
        padding: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .size-chart td {
        font-size: 8px;
    }
}

.size-chart th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: "Unbounded";
    font-weight: 500;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .size-chart th {
        padding: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .size-chart th {
        font-size: 8px;
    }
}

.size-chart th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.charac p {
    font-family: "Unbounded";
    font-size: 12px;
    font-weight: 200;
    color: 444444;
    margin-top: 5px;
    margin-bottom: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .charac p {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .charac p {
        font-size: 10px;
    }
}

.infoBlock {
    height: 780px;
    width: 840px;
    border-radius: 20px;
    padding: 50px 120px 50px 70px;
    box-sizing: border-box;
    background-color: #F8EDE3;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .infoBlock {
        height: auto;
        width: 580px;
    }
}

@media screen and (max-width: 768px) {
    .infoBlock {
        height: auto;
        width: 100%;
        margin-top: 650px;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

.titleComments {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 40px;
}

.userAvaImg {
    height: 30px;
    width: 30px;
}

.userNickName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: #444444;
}

.commentDiv p {
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400;
    color: #444444;
    margin-top: 0px;
}

.userAvaNName {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.commentMessage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.newComment label {
    font-family: "Unbounded";
    font-size: 16px;
    font-weight: 800;
    color: #444444;
}

.newComment input {
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 300;
    color: #444444;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 10px;
    height: 35px;
    width: 50%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .newComment input {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .newComment input {
        width: 80%;
    }
}

.newComment img {
    height: 15px;
    width: 15px;
}

.newComment button {
    background-color: #7D6E83;
    border-radius: 20px;
    height: 35px;
    width: 10%;
    border: none;
    outline: none;
}

.newComment button:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.newComment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.commentsBlock {
    height: 780px;
    width: 670px;
    border-radius: 20px;
    padding: 50px 120px 50px 70px;
    box-sizing: border-box;
    background-color: #F8EDE3;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .commentsBlock {
        height: auto;
        width: 570px;
    }
}

@media screen and (max-width: 768px) {
    .commentsBlock {
        height: auto;
        width: 100%;
        padding: 40px 30px;
    }
}

.secondLineBlocks {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .secondLineBlocks {
        flex-direction: column;
    }
}

main {
    padding: 0px 160px 50px 160px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    main {
        padding: 0px 100px 50px 100px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0px;
    }
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

@media screen and (max-width: 768px) {
    .sectionName {
        font-size: 5px;
    }
}

.sectionName:hover {
    color: #F8EDE3;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

@media screen and (max-width: 768px) {
    .sectionsList li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.sectionsList {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .sectionsList {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
    }
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

@media screen and (max-width: 768px) {
    .copyrightTetx {
        font-size: 7px;
        height: auto;
        width: 185px;
    }
}

.ico {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 768px) {
    .ico {
        height: 10px;
        width: 10px;
    }
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #7D6E83;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}