.mainLogoDiv {
    height: 100px;
    width: 100px;
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

header {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.imgSneakersImg {
    height: 620px;
    width: 680px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.imgSneakersDiv {
    height: 620px;
    width: 680px;
}

.itemName {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 900;
    color: 444444;
    margin-bottom: 0px;
}

.itemArticle {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
    color: 444444;
    margin-top: 0px;
}

.itemPrice {
    font-family: "Unbounded";
    font-size: 50px;
    font-weight: 900;
    color: 444444;
    margin-top: 0px;
}

.sizeTxt {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 700;
    color: 444444;
    margin-top: 0px;
}

.itemSize {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: 444444;
}

.sizeDiv {
    height: 25px;
    width: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: 444444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.netSize {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    gap: 10px; 
    margin-bottom: 40px;
}

.itemNameNArticle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buyButton {
    height: 65px;
    width: 350px;
    border-radius: 20px;
    background-color: #7D6E83;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.buyButton:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.addButImg {
    height: 25px;
    width: 25px;
}

.aditionalButton {
    height: 65px;
    width: 80px;
    border-radius: 20px;
    background-color: #7D6E83;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
}

.aditionalButton:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainBlock {
    height: 720px;
    width: 1560px;
    border-radius: 20px;
    background-color: #F8EDE3;
    padding: 50px 170px 50px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: 444444;
}

.description p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: 444444;
    height: 180px;
    width: 550px;
}

.tableNCharac h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: 444444;
    display: flex;
    flex-direction: row;
}

.tableNCharac {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.size-chart {
    width: 50%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.size-chart td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.size-chart th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.size-chart th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.charac p {
    font-family: "Unbounded";
    font-size: 12px;
    font-weight: 200;
    color: 444444;
    margin-top: 5px;
    margin-bottom: 0px;
}

.infoBlock {
    height: 780px;
    width: 840px;
    border-radius: 20px;
    padding: 50px 120px 50px 70px;
    box-sizing: border-box;
    background-color: #F8EDE3;
}

.titleComments {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: 444444;
    margin-bottom: 40px;
}

.userAvaImg {
    height: 30px;
    width: 30px;
}

.userNickName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 700;
    color: 444444;
}

.commentDiv p {
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400;
    color: 444444;
    margin-top: 0px;
}

.userAvaNName {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.commentMessage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.commentsBlock {
    height: 780px;
    width: 670px;
    border-radius: 20px;
    padding: 50px 120px 50px 70px;
    box-sizing: border-box;
    background-color: #F8EDE3;
}


.secondLineBlocks {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

main {
    padding: 0px 160px 50px 160px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer {
    background-color: #7D6E83;
    padding
}