.mainLogoDiv {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 425px) {
    .mainLogoDiv {
        height: 45px;
        width: 50px;
    }
}

@media screen and (max-width: 425px) {
    .mainLogoImg {
        height: 45px;
        width: 50px;
    }
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

@media screen and (max-width: 425px) {
    .buttonNav {
        font-size: 5PX;
    }
}

.buttonNav:hover {
    color: #F8EDE3;
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 425px) {
    nav {
        gap: 5px;
    }
}

header {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    header {
        margin: 20px 20px 50px 20px;
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.brandsDiv {
    display: flex;
    flex-direction: row; 
    gap: 50px;
    justify-content: flex-end;
    margin-bottom: 50px;
}

@media screen and (max-width: 425px) {
    .brandsDiv {
        gap: 10px;
        margin-bottom: 25px;
    }
}

.brandLogoImg {
    height: 90px;
    width: 90px;
}

@media screen and (max-width: 425px) {
    .brandLogoImg {
        height: 30px;
        width: 30px;
    }
}

label {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 500;
}

.headerFilter {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
}

.listFilter {
    list-style-type: none;
    padding-left: 10px;
    border-bottom: 1px solid #D5B39C;
    padding-bottom: 20px;
}

.topicDiv {
    width: 200px;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    width: auto;
}

@media screen and (max-width: 425px) {
    .filterDiv {
        position: absolute;
        display: none;
    }
}

.itemImg {
    height: 280px;
    width: 310px;
    margin-top: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemImg {
        height: 200px;
        width: 230px;
    }
}

@media screen and (max-width: 425px) {
    .itemImg {
        height: 110px;
        width: 130px;
    }
}

.itemDiv {
    height: 370px;
    width: 310px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 35px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemDiv {
        height: 270px;
        width: 230px;
    }
}

@media screen and (max-width: 425px) {
    .itemDiv {
        height: 160px;
        width: 130px;
    }
}

.itemName {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 5px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemName {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .itemName {
        font-size: 10px;
    }
}

.itemPrice {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 600;
    color: #967CA1;
    margin-top: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemPrice {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .itemPrice {
        font-size: 10px;
    }
}

.itemLink {
    text-decoration: none;
}

.catalogDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}

@media screen and (max-width: 425px) {
    .catalogDiv {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

.filterNCatalog {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .filterNCatalog {
        gap: 220px;
    }
}

@media screen and (max-width: 425px) {
    .filterNCatalog {
        justify-content: flex-end;
    }
}

main {
    background-color: #F8EDE3;
    padding: 50px 280px 20px 60px;
    border-radius: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    main {
        padding: 50px 60px 20px 60px;
    }
}

@media screen and (max-width: 425px) {
    main {
        padding: 25px 15px;
    }
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

.sectionName:hover {
    color: #F8EDE3;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

.sectionsList {
    padding: 0px;
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

@media screen and (max-width: 425px) {
    .copyrightTetx {
        font-size: 7px;
        height: auto;
        width: 185px;
    }
}

.ico {
    height: 20px;
    width: 20px;
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #7D6E83;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}