.mainLogoDiv {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .mainLogoDiv {
        height: 45px;
        width: 50px;
    }

    .mainLogoImg {
        height: 45px;
        width: 50px;
    }
}

.mainTitle {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 800;
    color: #444444;
}

@media screen and (max-width: 768px) {
    .mainTitle {
        font-size: 10px;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerOfUser h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 800;
    color: #444444;
    display: flex;
    justify-content: center;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerOfUser h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .containerOfUser h1 {
        font-size: 20px;
        justify-content: flex-start;
    }
}

.containerOfUser h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerOfUser h2 {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .containerOfUser h2 {
        font-size: 10px;
    }
}

.inputContainer input {
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Unbounded";
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; 
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .inputContainer input {
        padding: 5px 10px;
        font-size: 15px;
        width: 70%;
    }
}

.inputContainer {
    display: grid;
    grid-template-columns: 330px 330px;
    gap: 50px; 
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .inputContainer {
        grid-template-columns: 270px 270px;
    }
}

@media screen and (max-width: 768px) {
    .inputContainer {
        width: 100%;
        grid-template-columns: 150px 150px;
    }
}

.containerOfUser button {
    background-color:  white;
    border-radius: 20px;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    color: black; 
    height: 100px;
    width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerOfUser button {
        font-size: 10px;
        height: 80px;
        width: 140px;
    }
}

@media screen and (max-width: 768px) {
    .containerOfUser button {
        font-size: 8px;
        height: 55px;
        width: 80px;
    }
}

.containerOfUser button:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.deliveryDiv input {
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Unbounded";
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; 
    box-sizing: border-box;
    width: 60%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .deliveryDiv input {
        padding: 5px 10px;
        font-size: 15px;
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .deliveryDiv input {
        padding: 5px 10px;
        font-size: 15px;
        width: 70%;
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .buttonsContainer {
        gap: 0px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .buttonsContainer {
        gap: 0px;
        justify-content: space-between;
    }
}

.contactUser {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .contactUser {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .contactUser {
        gap: 30px;
    }
}

.deliveryDiv {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .deliveryDiv {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .deliveryDiv {
        gap: 30px;
    }
}

.paymentDiv {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .paymentDiv {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .paymentDiv {
        gap: 30px;
    }
}

.containerOfUser {
    background-color: #F4E3D3;
    border-radius: 20px;
    padding: 60px 90px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerOfUser {
        height: auto;
        width: auto;
        padding: 40px 50px;
    }
}

@media screen and (max-width: 768px) {
    .containerOfUser {
        position: absolute;
        top: 750px;
        padding: 40px 30px;
        width: auto;
    }
}

.titleItem {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 700;
    color: black;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .titleItem {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .titleItem {
        font-size: 20px;
    }
}

.itemInfo img {
    height: auto;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemInfo img {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .itemInfo img {
        height: auto;
        width: 40%;
    }
}

.itemInfo h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 900;
    color: #444444; 
    margin-bottom: 5px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemInfo h1 {
        font-size: 15px;
    }
}

.itemInfo h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 800;
    color: #444444; 
    margin-bottom: 5px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemInfo {
        font-size: 10px;
    }
}

.itemInfo p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 400;
    color: #444444; 
    margin: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemInfo p {
        font-size: 10px;
    }
}

.nameNPrice {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .nameNPrice {
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .nameNPrice {
        gap: 10px;
    }
}

.priceInfo h1 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 600;
    color: #444444; 
}

.txtPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priceInfo h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 300;
    color: #444444; 
}

@media screen and (max-width: 768px) {
    .priceInfo h2 {
        font-size: 10px;
    }
}

.containerItem button {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #7D6E83;
    border-radius: 20px;
    padding: 20px 100px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerItem button {
        font-size: 15px;
        padding: 20px 35px;
    }
}

@media screen and (max-width: 768px) {
    .containerItem button {
        font-size: 15px;
        padding: 15px 20px;
        width: 100%;
    }
}

.containerItem button:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.commentTxt p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #7D6E83; 
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .commentTxt p {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .commentTxt p {
        font-size: 10px;
    }
}

.itemInfo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.containerItem {
    background-color: #F4E3D3;
    border-radius: 20px;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 100%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .containerItem {
        padding: 40px 30px;
        height: 100%;
        width: auto;
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .containerItem {
        position: absolute;
        top: 130px;
        padding: 25px;
        gap: 40px;
        height: auto;
    }
}

main {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    main {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media screen and (max-width: 768px) {
    body {
        padding: 15px 0px;
    }
}