.mainLogoDiv {
    height: 100px;
    width: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 800;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUserContainer h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    color: #444444;
}

.infoUserContainer h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
}

.infoUserContainer {
    background-color: #F4E3D3;
    border-radius: 20px;
    padding: 60px 90px;
    box-sizing: border-box;
}

.mainContent {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

body {
    background-color: #D5B39C;
    margin: 0px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

