.mainLogoDiv {
    height: 100px;
    width: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 800;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUserContainer h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 700;
    color: #444444;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.infoUserContainer h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
}

.infoUserContainer input {
    padding: 10px 15px;
    border-radius: 20px;
    font-family: "Unbounded";
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; 
    box-sizing: border-box;
}

.infoUserContainer button {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 400;
    color: #444444;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    height: 100px;
    width: 200px;
}

.inputDiv input {
    width: 60%;
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    margin-bottom: 90px;
}

.deliveryContainer {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.paymentContainer {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.infoUserContainer {
    background-color: #F4E3D3;
    border-radius: 20px;
    padding: 60px 90px;
    box-sizing: border-box;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleItem {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 700;
    color: #444444; 
    margin-bottom: 70px;
}

.itemInfo h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #444444;
}

.itemInfo img {
    height: auto;
    width: 40%; 
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.itemInfo h2 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    color: #444444;
}

.itemInfo p {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 300;
    color: #444444;
}

.itemInfo span {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 100;
    color: #444444;
}

.priceInfo h2 {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
}

.priceInfo h1 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: #444444;
}

.txtPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priceInfo {
    margin-bottom: 70px;
}

.button button {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: #7D6E83;
    border-radius: 20px;
    padding: 20px 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-bottom: 40px;
}

.itemContainer {
    background-color: #F4E3D3;
    border-radius: 20px;
    padding: 60px 50px;
    box-sizing: border-box; 
    height: 100%;
    width: 40%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

body {
    background-color: #D5B39C;
    margin: 0px;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

