.mainLogoDiv {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .mainLogoDiv {
        height: 45px;
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .mainLogoImg {
        height: 45px;
        width: 50px;
    }
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .buttonNav {
        font-size: 7px;
    }
}

.buttonNav:hover {
    color: #F8EDE3;
}

@media screen and (max-width: 768px) {
    #userNav {
        display: flex;
        justify-content: center;
    }
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 768px) {
    .avaUserImg {
        height: 20px;
        width: 20px;
    }
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        gap: 7px;
    }
}

.mainHeader {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .mainHeader {
        margin: 20px 20px 50px 20px;
    }
}

.saleDiv {
    width: 100vw; 
    overflow: hidden; 
    z-index: 1; 
}

.salesTitle {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FF5B5B;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px 10px;
    animation: marquee 25s linear infinite;
    margin-bottom: 0px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .salesTitle {
        font-size: 15px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    @keyframes marquee {
        0% {
            transform: translateX(20%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    body.active {
        position: fixed;
        right: 0px;
        z-index: 1001;
    }
}

.headSection {
    display: flex;
    flex-direction: row; 
    gap: 50px;
    justify-content: flex-end;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .headSection {
        gap: 10px;
        margin-bottom: 25px;
    }
}

.menu-icon img {
    height: 36px;
    width: 36px;
    display: none;
    position: absolute;
    top: 185px;
    left: 12px;
    width: 40px;
    height: 40px;
    z-index: 1003;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon img {
        display: block;
    }
}

.brandLogoImg {
    height: 90px;
    width: 90px;
    border-radius: 50%; 
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); 
    object-fit: cover; 
}

@media screen and (max-width: 768px) {
    .brandLogoImg {
        height: 30px;
        width: 30px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); 
    }
}

@media screen and (max-width: 768px) {
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1002;
        display: none;
    }

    #overlay.active {
        display: block;
    }
}

label {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    label {
        color: white;
    }
}

.headerFilter {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .headerFilter {
        color: white;
        font-size: 15px;
    }
}

.listFilter {
    list-style-type: none;
    padding-left: 10px;
    border-bottom: 1px solid #D5B39C;
    padding-bottom: 20px;
}

.topicDiv {
    width: 200px;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    width: auto;
}

@media screen and (max-width: 768px) {
    .filterDiv {
        position: fixed;
        top: 115px;
        left: -100%; 
        width: 250px;
        height: 100%;
        background-color: #A88A6E;
        border-radius: 20px;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
        z-index: 1002;
        transition: left 0.3s ease; 
        padding: 120px 50px 30px 15px;
        overflow-y: auto;
    }

    .filterDiv.active {
        left: 0;
    }
}

.itemImg {
    height: 280px;
    width: 310px;
    margin-top: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemImg {
        height: 200px;
        width: 230px;
    }
}

@media screen and (max-width: 768px) {
    .itemImg {
        height: 110px;
        width: 130px;
    }
}

.itemDiv {
    height: 370px;
    width: 310px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 35px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemDiv {
        height: 290px;
        width: 230px;
    }
}

@media screen and (max-width: 768px) {
    .itemDiv {
        height: 180px;
        width: 130px;
    }
}

.itemName {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 5px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemName {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .itemName {
        font-size: 10px;
    }
}

.newItemPrice {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 600;
    color: #FF5B5B;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .newItemPrice {
        font-size: 15px;
    }
}

.oldItemPrice {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    text-decoration: line-through;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .oldItemPrice {
        font-size: 10px;
    }
}

.catalogDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}

@media screen and (max-width: 768px) {
    .catalogDiv {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

.filterNCatalog {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .filterNCatalog {
        gap: 220px;
    }
}

@media screen and (max-width: 768px) {
    .filterNCatalog {
        justify-content: flex-end;
    }
}

main {
    background-color: #F8EDE3;
    padding: 50px 280px 20px 60px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    main {
        padding: 50px 60px 20px 60px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 25px 15px;
    }
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

@media screen and (max-width: 768px) {
    .sectionName {
        font-size: 5px;
    }
}

.sectionName:hover {
    color: #F8EDE3;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

@media screen and (max-width: 768px) {
    .sectionsList li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.sectionsList {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .sectionsList {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
    }
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

@media screen and (max-width: 768px) {
    .copyrightTetx {
        font-size: 7px;
        height: auto;
        width: 185px;
    }
}

.ico {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 768px) {
    .ico {
        height: 10px;
        width: 10px;
    }
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #7D6E83;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}