.mainLogoDiv {
    height: 100px;
    width: 100px;
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

.buttonNav:hover {
    color: #F8EDE3;
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.mainHeader {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saleDiv {
    width: 100vw; 
    overflow: hidden; 
    z-index: 1; 
}

.salesTitle {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FF5B5B;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px 10px;
    animation: marquee 25s linear infinite;
    margin-bottom: 0px;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.brandsDiv {
    display: flex;
    flex-direction: row; 
    gap: 50px;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.brandLogoImg {
    height: 90px;
    width: 90px;
}

label {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 500;
}

.headerFilter {
    color: #7D6E83;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
}

.listFilter {
    list-style-type: none;
    padding-left: 10px;
    border-bottom: 1px solid #D5B39C;
    padding-bottom: 20px;
}

.topicDiv {
    width: 200px;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    width: auto;
}

.itemImg {
    height: 280px;
    width: 310px;
    margin-top: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemImg {
        height: 200px;
        width: 230px;
    }
}

.itemDiv {
    height: 370px;
    width: 310px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 35px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemDiv {
        height: 290px;
        width: 230px;
    }
}

.itemName {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 5px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .itemName {
        font-size: 15px;
    }
}

.newItemPrice {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 600;
    color: #FF5B5B;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .newItemPrice {
        font-size: 15px;
    }
}

.oldItemPrice {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    text-decoration: line-through;
    margin-top: 0px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .oldItemPrice {
        font-size: 12px;
    }
}

.catalogDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}

.filterNCatalog {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .filterNCatalog {
        gap: 220px;
    }
}

main {
    background-color: #F8EDE3;
    padding: 50px 280px 20px 60px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    main {
        padding: 50px 60px 20px 60px;
    }
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

.sectionName:hover {
    color: #F8EDE3;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

.sectionsList {
    padding: 0px;
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

.ico {
    height: 20px;
    width: 20px;
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #7D6E83;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}