.mainLogoDiv {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .mainLogoDiv {
        height: 45px;
        width: 50px;
        z-index: 1001;
    }

    .mainLogoImg {
        height: 45px;
        width: 50px;
        z-index: 1001;
    }
}

.buttonNav {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .buttonNav {
        font-size: 7px;
    }
}

.buttonNav:hover {
    color: #F8EDE3;
}

@media screen and (max-width: 768px) {
    #userNav {
        display: flex;
        justify-content: center;
    }
}

.avaUserImg {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 768px) {
    .avaUserImg {
        height: 20px;
        width: 20px;
    }
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        gap: 7px;
        z-index: 1001;
    }
}

header {
    margin: 50px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    header {
        margin: 20px 20px 50px 20px;
    }
}

.mainTitles h1 {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 900;
    color: #444444;
}

@media screen and (max-width: 768px) {
    .mainTitles h1 {
        font-size: 12px;
    }
}

.mainTitles h2 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 900;
    color: #7D6E83;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .mainTitles h2 {
        font-size: 10px;
    }
}

.cityMenu {
    display: none;
    top: 470px;
    right: 210px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .cityMenu {
        top: 190px;
        right: 15px;
        padding: 5px;
    }
}

.cityMenu li {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 600;
    color: #444444;
    padding: 5px 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cityMenu li {
        font-size: 8px;
    }
}

.cityMenu li:hover {
    background-color: #f0f0f0;
}

.cityMenu ul {
    list-style-type: none;
    padding: 0px;
}

.cityMenu {
    background-color: white;
    border-radius: 20px;
    height: 160px;
    width: 140px;
}

.mainTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .mainTitles {
        margin-bottom: 40px;
    }
}

.address h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #444444; 
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .address h1 {
        font-size: 15px;
    }
}

.address h2 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #7D6E83;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .address h2 {
        font-size: 10px;
    }
}

.schedule h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #444444;  
}

@media screen and (max-width: 768px) {
    .schedule h1 {
        font-size: 15px;
    }
}

.schedule h2 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 900;
    color: #444444;  
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .schedule h2 {
        font-size: 10px;
    }
}

.phoneNumber h1 {
    font-family: "Unbounded";
    font-size: 25px;
    font-weight: 900;
    color: #444444;  
}

@media screen and (max-width: 768px) {
    .phoneNumber h1 {
        font-size: 15px;
    }
}

.phoneNumber h2 {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 900;
    color: #444444;  
}

@media screen and (max-width: 768px) {
    .phoneNumber h2 {
        font-size: 10px;
    }
}

.mapImg {
    border-radius: 20px;
    max-width: 100%; 
    max-height: 100%;
    width: 80%; 
    height: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.storeInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    padding: 30px 0px 30px 80px;
}

@media screen and (max-width: 768px) {
    .storeInfo {
        padding-left: 15px;
        gap: 35px;
    }
}

.contentSection {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

@media screen and (max-width: 768px) {
    .contentSection {
        flex-direction: column;
        gap: 50px;
    }
}

main {
    margin: 150px 180px;
    padding: 100px 50px;
    box-sizing: border-box;
    background-color: #F8EDE3;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    main {
        margin: 25px 0px 120px 0px;
        padding: 30px 20px 50px 20px;
    }
}

body {
    background-color: #D5B39C;
    margin: 0px;
}

.sectionName {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-decoration: none;
    transition: color 0.3 ease;
}

@media screen and (max-width: 768px) {
    .sectionName {
        font-size: 5px;
    }
}

.sectionName:hover {
    color: #F8EDE3;
}

.sectionsList li {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    text-decoration: none; 
}

@media screen and (max-width: 768px) {
    .sectionsList li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.sectionsList {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .sectionsList {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
    }
}

.copyrightTetx {
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 200;
    color: #444444;
    text-align: center;
    height: 75px;
    width: 390px;
}

@media screen and (max-width: 768px) {
    .copyrightTetx {
        font-size: 7px;
        height: auto;
        width: 185px;
    }
}

.ico {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 768px) {
    .ico {
        height: 10px;
        width: 10px;
    }
}

.socialmediaDiv {
    display: flex;
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #7D6E83;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 190px;
}